body {
  margin: 0;
  padding: 0;
  background: #9a8f86;
}

.bar-chart.main {
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}

.bar-chart .container {
  height: 560px;
  width: 900px;
  box-shadow: 1px 1px 10px;
  background: #c8bdb4;
}

.bar-chart .graph {
  margin: 20px;
}

.bar-chart #title {
  text-align: center;
  font-size: 2.5em;
}

.bar-chart #tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  height: 50px;
  padding: 2px;
  background: #95a494;
  box-shadow: 1px 1px 10px;
  border-radius: 2px;
  pointer-events: none;
  color: #141923;
  opacity: 0;
}

.bar-chart .bar {
  fill: #342e2a;
}

.bar-chart .bar:hover {
  fill: #4d5a4c;
}

.bar-chart a:hover {
  font-weight: bold;
}
